<app-menu></app-menu>

<body>
    <div class="content" flex>
        <div class="about-box">
            <div class="page-divider pgd1">
            </div>
            <div class="page page-1" id="page1">
                <a class="anchor" id="welcome"></a>
                <div class="title">¿Quién soy?</div>
                <p><strong>¡Bienvenid@!</strong> Soy Yanina.</p>
                <p> Curso: 4º B</p>
                <p> Legajo: 110504</p>
                <p> Contacto: yani.m.diaz@gmail.com</p>
            </div>
        </div>


        <div class="page" id="page3">
            <a class="anchor" id="contact"></a>
            <div class="title">¿Cómo jugar?</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis ante aliquet, faucibus ipsum pellentesque, consequat ligula. Morbi in ex augue. Etiam vel egestas nulla, at laoreet odio. Nunc sed arcu nec mi dapibus feugiat quis sit amet
                arcu. Phasellus convallis dui ac porta pellentesque. Vivamus accumsan vulputate ultrices. Nulla dignissim risus a risus accumsan cursus. Donec blandit, eros et porta consectetur, sapien lacus bibendum urna, eu pharetra ante nisl ut nunc.
                Phasellus finibus accumsan orci, sit amet vestibulum quam vestibulum nec. Proin sit amet varius nisl. Nullam massa eros, convallis ut purus in, blandit fermentum velit. Nullam sem sapien, tempus sed nulla in, pulvinar blandit nisi. Nulla
                aliquet fringilla risus sit amet imperdiet. Aenean dictum, dui a dignissim convallis, turpis turpis vehicula diam, eget suscipit ante magna at urna. Donec suscipit leo sit amet felis ullamcorper mollis. Aenean lobortis condimentum massa.
                Fusce eget dui id tellus aliquet placerat a eu ligula.</p>
            <p>Aliquam at turpis et nisl interdum efficitur non vel leo. Aliquam pulvinar justo nec condimentum placerat. Mauris consectetur bibendum mauris, sit amet tempus diam scelerisque in. Nam molestie mauris ut nunc pretium, non porta orci bibendum.
                Cras in accumsan nibh. Phasellus porta faucibus arcu, eu dignissim diam interdum et. Mauris vestibulum sodales est eu faucibus. Morbi semper, tellus tincidunt semper dignissim, lorem risus vehicula turpis, in dignissim nunc tortor sed
                ante. Maecenas id ex non sapien tristique commodo. Curabitur in eros molestie, euismod augue vel, consectetur urna. Maecenas est odio, venenatis sed maximus vitae, commodo a mauris</p>
        </div>

    </div>
</body>