<app-menu></app-menu>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="titulos">
    <div>
        <h1 class="titulos">¿QUIÉN SOY?</h1>
    </div>
    <div>
        <img width="200" height="200" class="profile-img" src="https://media-exp1.licdn.com/dms/image/C4D03AQHNOEc05iPS2g/profile-displayphoto-shrink_800_800/0/1612545846996?e=1655337600&v=beta&t=pFS8Bif1tUxW_1LhVnxIUCCTJn_8spOS3vPndBXv20A" alt="">
    </div>
    <div class="contenidos">
        <h3> Mail: yani.m.diaz@gmail.com</h3>
        <h3> Legajo: 110504</h3>
        <h3> Curso: 4to B</h3>

        <h1 class="titulos"> ¿COMO JUGAR?</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis ante aliquet, faucibus ipsum pellentesque, consequat ligula. Morbi in ex augue. Etiam vel egestas nulla, at laoreet odio. Nunc sed arcu nec mi dapibus feugiat quis sit amet arcu. Phasellus
            convallis dui ac porta pellentesque. Vivamus accumsan vulputate ultrices. Nulla dignissim risus a risus accumsan cursus. Donec blandit, eros et porta consectetur, sapien lacus bibendum urna, eu pharetra ante nisl ut nunc. Phasellus finibus
            accumsan orci, sit amet vestibulum quam vestibulum nec. Proin sit amet varius nisl. Nullam massa eros, convallis ut purus in, blandit fermentum velit. Nullam sem sapien, tempus sed nulla in, pulvinar blandit nisi. Nulla aliquet fringilla risus
            sit amet imperdiet. Aenean dictum, dui a dignissim convallis, turpis turpis vehicula diam, eget suscipit ante magna at urna. Donec suscipit leo sit amet felis ullamcorper mollis. Aenean lobortis condimentum massa. Fusce eget dui id tellus
            aliquet placerat a eu ligula.
        </p>
        <p>
            Aliquam at turpis et nisl interdum efficitur non vel leo. Aliquam pulvinar justo nec condimentum placerat. Mauris consectetur bibendum mauris, sit amet tempus diam scelerisque in. Nam molestie mauris ut nunc pretium, non porta orci bibendum. Cras in accumsan
            nibh. Phasellus porta faucibus arcu, eu dignissim diam interdum et. Mauris vestibulum sodales est eu faucibus. Morbi semper, tellus tincidunt semper dignissim, lorem risus vehicula turpis, in dignissim nunc tortor sed ante. Maecenas id ex
            non sapien tristique commodo. Curabitur in eros molestie, euismod augue vel, consectetur urna. Maecenas est odio, venenatis sed maximus vitae, commodo a mauris
        </p>
    </div>

</body>

</html>