.titulos {
    background-color: rgb(233, 213, 218);
    color: rgb(54, 48, 98);
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}

.contenidos {
    color: rgb(54, 48, 98);
    font-family: sans-serif;
    padding: 10px;
    background-color: rgb(233, 213, 218);
}

.profile-img {
    padding: 10px;
    width: "500";
    height: "600";
    font: nunito;
}