.form {
    color: rgb(54, 48, 98);
    font-family: 'Open Sans';
    font-size: 15px;
    background-color: rgb(233, 213, 218);
    background-size: 100%;
    padding: 200px 500px;
}

.input {
    border-radius: 2%;
}

.button {
    border-radius: 2%;
    fill: rgb(54, 48, 98);
}

.label {
    font-family: 'Open Sans';
}